
importFrom("stats",
	"anova",
	"approx",
	"as.formula",
	"dnorm",
	"qnorm",
	"rnorm",
	"rlnorm",
	"runif",
	"convolve",
	"kmeans",
	"lm",
	"loess",
	"loess.control",
	"median",
	"optim",
	"optimize",
	"p.adjust",
	"pchisq",
	"pf",
	"pt",
	"quantile",
	"relevel",
	"setNames",
	"smooth.spline",
	"splinefun",
	"supsmu")

importFrom("nlme",
	"lme")

importFrom("parallel",
	"nextRNGStream")

import("BiocGenerics")

import("BiocParallel")

import("Biobase")

importFrom("EBImage",
	"Image",
	"imageData",
	"imageData<-",
	"colorMode",
	"colorMode<-",
	"getFrame",
	"getFrames",
	"numberOfFrames")

import("CardinalIO")

import("matter")

import("methods")

import("stats4")

importFrom("Matrix",
	"t",
	"solve",
	"chol")

import("S4Vectors")

import("ProtGenerics")

importFrom("viridisLite",
	"viridis",
	"cividis",
	"magma",
	"inferno",
	"plasma")

importFrom("irlba",
	"irlba")

importFrom("mclust",
	"Mclust",
	"mclustBIC")

exportClasses(
	"Hashmat",
	"IAnnotatedDataFrame",
	"ImageData",
	"MIAPE-Imaging",
	"MSImageData",
	"MSImageProcess",
	"MSImageSet",
	"ResultSet",
	"SImageData",
	"SImageSet",
	"iSet")

exportClasses(
	"XDataFrame",
	"XDFrame",
	"PositionDataFrame",
	"MassDataFrame",
	"SpectraArrays",
	"SpectralImagingData",
	"SpectralImagingArrays",
	"SpectralImagingExperiment",
	"MSImagingArrays",
	"MSImagingExperiment")

export(
	"XDataFrame",
	"PositionDataFrame",
	"MassDataFrame",
	"SpectraArrays",
	"SpectralImagingArrays",
	"SpectralImagingExperiment",
	"MSImagingArrays",
	"MSImagingExperiment")

export(
	"addShape",
	"alpha.colors",
	"bw.colors",
	"col.map",
	"color.map",
	"darkmode",
	"discrete.colors",
	"divergent.colors",
	"estimateDomain",
	"gradient.colors",
	"intensity.colors",
	"jet.colors",
	"lightmode",
	"risk.colors",
	"readAnalyze",
	"readImzML",
	"readMSIData",
	"presetImageDef",
	"simulateImage",
	"simulateSpectra",
	"simulateSpectrum",
	"writeAnalyze",
	"writeImzML",
	"writeMSIData")

exportMethods(
	"as.array",
	"as.matrix",
	"as.data.frame",
	"length",
	"names",
	"names<-",
	"rownames",
	"rownames<-",
	"colnames",
	"colnames<-",
	"cbind",
	"rbind",
	"summary")

exportMethods(
	"image",
	"image3D",
	"plot")

exportMethods(
	"fitted",
	"predict",
	"residuals",
	"coef")

exportMethods("logLik")

exportMethods(
	"$",
	"$<-",
	"[",
	"[<-",
	"[[",
	"[[<-",
	"annotatedDataFrameFrom",
	"coerce",
	"combine",
	"coord",
	"coord<-",
	"coordinates",
	"coordinates<-",
	"coordnames",
	"coordnames<-",
	"coordLabels",
	"coordLabels<-",
	"dim",
	"dim<-",
	"dims",
	"dimnames",
	"dimnames<-",
	"domain",
	"domain<-",
	"experimentData",
	"experimentData<-",
	"features",
	"fData",
	"fData<-",
	"featureData",
	"featureData<-",
	"featureNames",
	"featureNames<-",
	"fvarLabels",
	"fvarLabels<-",
	"fvarMetadata",
	"fvarMetadata<-",
	"gridded",
	"gridded<-",
	"height",
	"height<-",
	"iData",
	"iData<-",
	"imageData",
	"imageData<-",
	"intensityData",
	"intensityData<-",
	"initialize",
	"isCentroided",
	"is3D",
	"keys",
	"keys<-",
	"modelData",
	"modelData<-",
	"mz",
	"mz<-",
	"mzData",
	"mzData<-",
	"nrun",
	"pData",
	"pData<-",
	"peaks",
	"peaks<-",
	"peakData",
	"peakData<-",
	"phenoData",
	"phenoData<-",
	"pixels",
	"pixelData",
	"pixelData<-",
	"pixelNames",
	"pixelNames<-",
	"protocolData",
	"protocolData<-",
	"resultData",
	"resultData<-",
	"resultNames",
	"resultNames<-",
	"resolution",
	"resolution<-",
	"run",
	"run<-",
	"runNames",
	"runNames<-",
	"sampler",
	"sampler<-",
	"sampleNames",
	"sampleNames<-",
	"show",
	"spectra",
	"spectra<-",
	"storageMode",
	"storageMode<-",
	"tolerance",
	"tolerance<-",
	"varLabels",
	"varLabels<-",
	"varMetadata",
	"varMetadata<-",
	"width",
	"width<-")

exportMethods(
	"abstract",
	"samples",
	"preproc",
	"preproc<-",
	"pubMedIds",
	"pubMedIds<-",
	"otherInfo",
	"expinfo",
	"notes",
	"notes<-",
	"instrumentModel",
	"instrumentVendor",
	"ionizationType",
	"lineScanDirection",
	"massAnalyzerType",
	"matrixApplication",
	"msiInfo",
	"pixelSize",
	"scanDirection",
	"scanPattern",
	"scanPolarity",
	"scanType")

exportMethods(
	"baselineReduction",
	"baselineReduction<-",
	"centroided",
	"centroided<-",
	"normalization",
	"normalization<-",
	"peakPicking",
	"peakPicking<-",
	"smoothing",
	"smoothing<-",
	"spectrumRepresentation",
	"spectrumRepresentation<-")

exportMethods(
	"crossValidate",
	"cvApply",
	"featureApply",
	"pixelApply",
	"spatialApply")

exportMethods(
	"findNeighbors",
	"spatialWeights")

exportMethods(
	"process",
	"bin",
	"normalize",
	"smooth",
	"smoothSignal",
	"reduceBaseline",
	"recalibrate",
	"mzAlign",
	"mzBin",
	"mzFilter",
	"peakProcess",
	"peakPick",
	"peakAlign",
	"peakBin",
	"peakFilter")

exportMethods("selectROI")

export("makeFactor")

export("CardinalVersion")

export(
	"convertMSImagingExperiment2Arrays",
	"convertMSImagingArrays2Experiment")

export(
	"getCardinalBPPARAM",
	"setCardinalBPPARAM",
	"getCardinalVerbose",
	"setCardinalVerbose",
	"getCardinalNChunks",
	"setCardinalNChunks",
	"getCardinalNumBlocks",
	"setCardinalNumBlocks")

exportMethods(
	"colocalized",
	"coregister")

exportMethods(
	"PCA",
	"PLS",
	"OPLS",
	"spatialFastmap",
	"spatialKMeans",
	"spatialShrunkenCentroids",
	"spatialDGMM",
	"meansTest",
	"segmentationTest")

exportMethods("topFeatures")

exportMethods(
	"aggregate",
	"slice",
	"sort")

export(
	"colSums",
	"colMeans",
	"colStats",
	"rowSums",
	"rowMeans",
	"rowStats",
	"spectrapply",
	"subset",
	"subsetFeatures",
	"subsetPixels",
	"summarizeFeatures",
	"summarizePixels")

export(
	"viridis",
	"cividis",
	"magma",
	"inferno",
	"plasma",
	"cividis")

