
import(
	"stats4",
	"BiocGenerics",
	"Biobase",
	"MSnbase")

importFrom("abind",
	"abind")

importFrom("fields",
	"interp.surface.grid")

importFrom("irlba",
	"irlba")

importFrom("lattice",
	"xyplot",
	"levelplot")

importFrom("signal",
	"interp1",
	"kaiser",
	"pchip",
	"sgolayfilt")

importFrom("sp",
	"point.in.polygon")

importFrom("utils",
	"setTxtProgressBar",
	"txtProgressBar"
)

exportClasses(
	"IAnnotatedDataFrame",
	"ImageData",
	"MSImageSet",
	"MSImageSpectra",
	"MSImageSegmentation",
	"MSPeakFrame",
	"MSPeakList",
	"MSPeakAlignment",
	"iSet")

export(
	"ImageData",
	"MSImageSpectra",
	"IAnnotatedDataFrame",
	"alpha.colors",
	"createMSImageSet",
	"createMSPeakFrame",
	"createMSPeakList",
	"gradient.colors",
	"intensity.colors",
	"isMSImageSet",
	"isMSImageSegmentation",
	"isMSPeakFrame",
	"isMSPeakList",
	"isMSPeakAlignment",
	"readAnalyze7.5",
	"readImzML",
	"risk.colors")

exportMethods(
	"$",
	"$<-",
	"[",
	"[<-",
	"[[",
	"[[<-",
	"alignPeaks",
	"assessQuality",
	"binSpectra",
	"calibrateSegmentation",
	"coord",
	"coord<-",
	"coordNames",
	"coordNames<-",
	"coregisterImages",
	"crop",
	"crossValidate",
	"detectPeaks",
	"dim",
	"estimateBaseline",
	"estimateNoise",
	"features",
	"featureData",
	"featureData<-",
	"flipHorizontal",
	"flipVertical",
	"generatePositionArray",
	"image",
	"initialize",
	"intensities",
	"isBinned",
	"isBinned<-",
	"isPeaks",
	"isPeaks<-",
	"isResampled",
	"isResampled<-",
	"likPlot",
	"logLik",
	"metaData",
	"metaData<-",
	"mergePeaks",
	"mz",
	"mz<-",
	"neighbors",
	"numFeatures",
	"numPixels",
	"OPLS",
	"PCA",
	"peaks",
	"peaks<-",
	"pixels",
	"pixelData",
	"pixelData<-",
	"pixelNames",
	"pixelNames<-",
	"plot",
	"PLS",
	"poolPeaks",
	"predict",
	"regeneratePositions",
	"removeBaseline",
	"removeNoise",
	"resampleSpectra",
	"roiBind",
	"rotateLeft",
	"rotateRight",
	"sampleNames",
	"sampleNames<-",
	"show",
	"selectPeaks",
	"selectPixels",
	"selectROI",
	"sliceBind",
	"spatialCluster",
	"spatialClassify",
	"spatialSparseCluster",
	"spatialSparseClassify",
	"spatialKMeans",
	"spatialSparseKMeans",
	"spectra",
	"spectra<-",
	"spectralApply",
	"standardizeTotalIonCurrent",
	"standardizeTotalImageIntensity",
	"storageMode",
	"storageMode<-",
	"summary",
	"summaryPlot",
	"trellisImage",
	"trellisPlot",
	"volume")

useDynLib("Cardinal")
